.inputContainer {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 24px;
  background: #383838;
  gap: 7px;
  border-radius: 5px;
}

.inputContainer.outlined {
  background: transparent;
  border: 1px solid #383838;
}

.leftIcon {
  font-size: 11px;
  font-weight: 400;
  color: #c3c3c3;
}

.TextInput {
  font-size: 11px;
  font-weight: 400;
  color: #c3c3c3;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
}
